h1{
    font-size: 30px;
    text-align: center;
    margin-bottom:0px ;
    text-shadow:1px -3px 2px red ;
}
h3{
    color: rgb(100, 0, 0);
    font-size: 30px;
    text-align: center;
    margin-bottom:0px ; 
}

input{

    margin:5px 550px;

}
input[type="submit"]{
    display: block;
    margin-top: 0px;
    margin: 0px 600px;
}
table {
    margin: 0px 450px ;



}

th{
    border:  solid black  ;
    background-color: rgb(236, 7, 7);
}


table thead tr {
    border: solid black  ;
    background-color: rgb(236, 7, 7);
    font-size:10px;
    padding: 10px 50px 10px;
    font-size: 16px;
    border-spacing: 10px;
    
}
table thead tr td {
    border: solid black  ;
    background-color: rgb(251, 102, 102);
    font-size:20px;
    padding: 15px 30px 10px;
    font-size: 16px;
    border-spacing: 10px;
}

body{
    background-color: rgb(235, 223, 121);
}
